{
  email {$CADDY_EMAIL}
}

# Production - HTTPS with domain
{$CADDY_DOMAIN_PROD} {
  encode gzip

  @api path /api* /swagger*
  handle @api {
    reverse_proxy web-api-prod:8080
  }

  handle {
    reverse_proxy bakalarsky-projekt-frontend-frontend-1:80
  }
}
