conferences.kpi.fei.tuke.sk {
	encode gzip

	handle /api/* {
		reverse_proxy api:8080
	}

	handle /swagger* {
		reverse_proxy api:8080
	}

	handle /storage/* {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy frontend:80
	}
}
